#DIA{
    background-image: url(bob.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.one{
    text-align: center;
    align-items: center;
    padding-top: 50px;
}
nav>ul{
    text-align: right;
}
nav> ul li{
    list-style: none;
    padding: 5px;
    display: inline-block;
    /*text-align: end;*/
}
nav>ul>li>a {
    padding: 10px;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    color: white;
    font-size: 20px;
}
p{
    font-size: 25px;
    font-family: Times;
}
.fourty{
    display: flex;
}