body{
    background-image: url(bran.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-blend-mode: darken;
}
#home{
    background-color: violet;
    float: left;
    height: 1750px;
    text-align: left;
}
img{
    box-shadow: 3px 3px 5px black;
    box-sizing: content-box;
    align-items: center;
}
.one{
    text-align: center;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
}
nav>ul{
    text-align: right;
}
nav> ul li{
    list-style: none;
    padding: 5px;
    display: inline-block;
    /*text-align: end;*/
}
nav>ul>li>a {
    padding: 10px;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    color: white;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
h2{
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
    font-size: 32px;
}
p{
    font-size: 25px;
    font-family: cursive;
}
#projects{
    background-color: navajowhite;
}
.fin{
    display: flex;
}
.fourty{
    box-sizing: border-box;
    box-shadow: 2px 2px 3px black;
}
#fav{
    box-sizing: border-box;
    box-shadow: 2px 2px 3px black;
}
/*@media screen and (min-width: 480px) {
    body {
        background-color: #706e75;
        color: black;
    } 
}*/
.cook{
    text-align: center;
    box-shadow: 3px 3px 4px black;
    box-sizing: content-box;
    display: inline;
}
#biography{
    background-color: navajowhite;
}
.pow{
    display: flex;
}
h3{
    font-weight: 800;
    font-size: 30px;
}
.wop{
    text-align: center;
    clear: right;
    /*justify-content: right;*/
    /*align-items: flex-start;*/
    /*padding-bottom: 20px;*/
    /*margin-bottom: 30px;*/
    display: inline-block;
    position: relative;
}
#skills{
    background-color: navajowhite;
}
#odd{
    display: inline-block;
}
#odd> ul li{
    font-size: 25px;
}
.odd{
    font-size: 25px;
}
#fam{
    font-weight: 700;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}
ol li{
    list-style: none;
}